*{box-sizing:border-box;margin:0;padding:0;font-size:100%;font-style:normal;word-wrap:break-word!important;font-family:'roboto',sans-serif}
html body{text-align:justify;float:none;background-color:#000;color:rgb(223, 245, 225);margin:0;scroll-behavior:smooth}
img{border:none;padding:0}
p{margin:6px 0 6px 0;padding:5px 0 10px 0}
ol,ul{margin-left:3.24em,rgb(223, 245, 225)}
h1,h2,h3,h3,h5,h6{display:block;font-weight:bold;color:#080;margin-top:2em;margin-bottom:1em}
h1{font-size:2em}h2{font-size:1.75em}h3{font-size:1.5em}h4{font-size:1.25em}h5{font-size:1em}h6{font-size:.9em}
a:link,a:visited,a:active,a:focus{text-decoration:none;color:#eee}a:hover{text-decoration:underline;color:#080;cursor:pointer}

.about{height:100vh}
.bold{font-weight:bold}

.green{color:#090}
.red{color:#F00}
.yellow{color:#FF0}
.grey{color:#666}
.grey_light{color:#ccc}
.white{color:#FFF}
.black{color:#000}

.bc_white{background-color:#FFF}
.bc_blue{background-color:#00F}
.bc_red{background-color:#F00}
.bc_pink{background-color:#FC5FC5}
.bc_green{background-color:#090}
.bc_grey{background-color:#444}
.bc_black{background-color:#000}

.txt32{font-size:2em}
.txt20{font-size:1.25em}
.txt16{font-size:1em}
.txt14{font-size:.9em}
.txt13{font-size:.82em}
.txt12{font-size:.75em}
.txt11{font-size:.69em}
.txt10{font-size:.63em}

.p2{padding:.31em}
.p5{padding:.62em}.pv5{padding-top:.62em;padding-bottom:.62em}
.p10{padding:1em}
.p15{padding:1.62em}
.pt_logo{padding-top:4.24em}
.mg5{margin:.62em}
.mg10{margin:1em}
.mg15{margin:1.62em}
.mg20{margin:2.62em}
.mg_v_5{margin-top:.62em;margin-bottom:.62em}
.mg_v_10{margin-top:1em;margin-bottom:1em}
.mg_v_15{margin-top:1.62em;margin-bottom:1.62em}
.mg_v_20{margin-top:2.62em;margin-bottom:2.62em}
.mg_v_25{margin-top:4.24em;margin-bottom:4.24em}

.txt_center{text-align:center}
.txt_left{text-align:left}
.txt_right{text-align:right}
.tx_vertical_center{display:flex;align-items:center;justify-content:center}
.txt_top{vertical-align:top}

.borderGreen{border:2px solid #060}
.br5{border-radius:.62em}
.br10{border-radius:1em}
.br15{border-radius:1.62em}

.placeholderDrag::-webkit-input-placeholder,.placeholderDrag:-moz-placeholder,.placeholderDrag::-moz-placeholder,.placeholderDrag:-ms-input-placeholder {
    color: #222;
    font-weight:bold;
}
textarea::placeholder {
    text-align: center;
}

.text_shadow{text-shadow:rgb(240, 240, 154).1em.1em.2em}

.verticalLine{border-left:0.5px solid;padding-left:.62em;padding-right:.62em}

.btn_form{font-weight:bold;margin:0;border:0;color:#fff;background-color:#090}

/*Icons*/
.arrow{border:solid #fff;border-width:0 3px 3px 0;display:inline-block;padding:3px}
.right{transform: rotate(-45deg);-webkit-transform:rotate(-45deg)}
.left{transform:rotate(135deg);-webkit-transform:rotate(135deg)}
.up{transform:rotate(-135deg);-webkit-transform:rotate(-135deg)}
.down{transform:rotate(45deg);-webkit-transform:rotate(45deg)}
#bar{width:35px;height:5px;background-color:#fff;margin:6px 0}

input[class=form],select,input{width:95%;display:inline-block;box-sizing:border-box;max-width:600px;border-color:#080;color:#111;background-color:#eee}
.float_left{float:left}
.float_right{float:right}
.btn_form,.btn_click:hover{cursor:pointer}

/*Responsive*/
grid-item {
    position: relative;
    text-align: center;
}
/*phones*/
@media only screen and (max-width:679px){
    .txt12{font-size:.68em}
    .mainIcons{display:grid;grid-template-columns:repeat(2,1fr);gap:0.5em;grid-auto-rows:180px;margin:.62em}
}
@media only screen and (min-width:680px){
.txt12{font-size:.69em}
h1,h2,h3,h3,h5,h6{margin-top:1.213em;margin-bottom:1em}
h1{font-size:1.63em}h2{font-size:1.57em}h3{font-size:1.33em}h4{font-size:1em}h5{font-size:.9em}h6{font-size:.82em}}
/*Tablets*/
@media only screen and (min-width:850px){
.txt12{font-size:.7em}
.vl{border-left:0.5px solid;padding-left:.62em;padding-right:.62em}
h1,h2,h3,h3,h5,h6{margin-top:1.213em;margin-bottom:1em}
h1{font-size:1.63em}h2{font-size:1.57em}h3{font-size:1.33em}h4{font-size:1em}h5{font-size:.9em}h6{font-size:.82em}}
/*PC*/
@media only screen and (min-width:940px){
.vl{border-left:0.5px solid;padding-left:.62em;padding-right:.62em}}
